.center-graph-button {
    position: absolute;
    bottom: 9%;
    right: 23%;
    transition: right 0.5s;
    z-index: 101;
}

.center-graph-button Button {
    font-size: 2em;
    display: flex;
    align-items: center;
    background: #ffffff;
    justify-content: center;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    height: 35px;
    min-width: 35px;
    max-width: 35px;
    width: 35px;
}

.center-graph-button Button:hover {
    background-color: #d90;
}


.center-graph-button-collapsed {
    right: 1%;
}

@keyframes center-graph-button-expand {
    0% {
        right: 1%;
    }
    100% {
        right: 23%;
    }
}

@keyframes center-graph-button-collapse {
    0% {
        right: 23%;
    }
    100% {
        right: 1%;
    }
}

.center-graph-button-expand {
    animation: center-graph-button-expand 0.5s forwards;
}

.center-graph-button-collapse {
    animation: center-graph-button-collapse 0.5s forwards;
}