.filter-menu-accordion {
    background-color: rgb(24, 32, 42);
    color: #ecf0f1;
    border-bottom: #34495e 1px solid;
}

.filter-menu-accordion-header {
    font-size: 1.1rem;
    padding: 0.5rem;
    background-color: rgb(24, 32, 42);
    border: none;
    color: #ecf0f1;
}

.filter-menu-accordion-section-content {
    font-size: 0.9rem;
    line-height: 1.3;
    text-align: left;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-menu-class-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-menu-accordion-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 8px;

    img {
        width: 50px !important;
        float: left;
        height: 50px !important;
        object-fit: contain;
    }

    span {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.9rem;
    }
}
