@use "canvas";
@use "workbench";
@use "sidebar";
@use "zoomslider";
body {
    background: rgba(201, 196, 196, 1);
    font-size: 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    // line-height: 1;
    margin: 0;
    // overflow: hidden;
    padding: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}

main {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
}
