@use "canvas";
@use "workbench";
@use "sidebar";
@use "graph_interact_buttons.scss";
@use "filter_menu";

body {
    background: rgba(201, 196, 196, 1);
    font-size: 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}

main {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
}
