.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 22%;
    height: 100vh;
    background-color: #fff;
    padding: 0.1rem;
    overflow-y: auto;
    color: #6b7280;
    overflow-x: hidden;
}

.ontology-title {
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    padding: 1rem 0;
    color: #6b7280;
    // border-bottom: 1px solid #34495e;
}

.sidebar-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    margin: 0.5rem 0;
    color: #6b7280;
    // background-color: rgb(24, 32, 42);
    // color: #ecf0f1;
    // border-bottom: 1px solid #34495e;
}

.language-button.thaw-select {
    width: 100px;
    color: #6b7280;
    height: 25px;
}


// .language-button.thaw-select .thaw-select__select {
//     width: 100%;
//     height: 100%;
//     background-color: #34495e;
//     border: 1px solid #455d75;
//     border-radius: 4px;
//     color: #ecf0f1;
//     font-size: 0.9em;
//     display: inline-flex;
//     align-items: center;
//     padding: 0 0.5rem;
//     justify-content: flex-end;
//     text-align: left;
// }

// .accordion {
//     background-color: rgb(24, 32, 42);
//     color: #ecf0f1;
//     border-bottom: #34495e 1px solid;
// }

// .thaw-accordion-header__button {
//     color: #ecf0f1;
// }

// .accordion-header {
//     font-size: 1.1rem;
//     padding: 0.5rem;
//     background-color: rgb(24, 32, 42);
//     border: none;
//     color: #ecf0f1;
// }

// .accordion-section-content {
//     font-size: 0.9rem;
//     line-height: 1.3;
//     text-align: left;
//     color: #ecf0f1;
// }

@keyframes sidebar-collapse {
    0% {
        width: 22%;
    }
    100% {
        width: 0%;
    }
}
@keyframes sidebar-expand {
    0% {
        width: 0%;
    }
    100% {
        width: 22%;
    }
}
.sidebar-collapse {
    animation: sidebar-collapse 0.5s forwards;
}
.sidebar-expand {
    animation: sidebar-expand 0.5s forwards;
}

@keyframes bottombar-expand {
    0% {
        width: 78%;
    }
    100% {
        width: 100%;
    }
}
@keyframes bottombar-collapse {
    0% {
        width: 100%;
    }
    100% {
        width: 78%;
    }
}

.toggle-sidebar-btn {
    position: fixed;
    height: 24px;
    width: 24px;
    top: 5%;
    right: 22%;
    background: #ffffff;
    justify-content: center;
    border: 1px solid #000000;
    cursor: pointer;
    transition: right 0.5s;
    z-index: 3;
}

.toggle-sidebar-btn-collapsed {
    right: 0%;
}

.toggle-sidebar-btn:hover {
    background-color: #d90;
}

.sidebar-content {
    transition: opacity 0.4s, transform 0.4s;
    opacity: 1;
    transform: translateX(0);
}

.sidebar-collapse .sidebar-content {
    opacity: 0;
    pointer-events: none;
}
