.workbench {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100vh;
    padding: 1rem;
    background-color: rgb(24, 32, 42);
}

.workbench-menu-header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #34495e;
}

.workbench-menu-header h3 {
    margin: 0;
    font-size: 1.2rem;
}

@keyframes workbench-menu-expand {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 15%;
        opacity: 1;
    }
}
@keyframes workbench-menu-collapse {
    0% {
        width: 15%;
        opacity: 1;
    }
    100% {
        width: 0%;
        opacity: 0;
    }
}
.workbench-menu-expand {
    animation: workbench-menu-expand 0.4s forwards;
}
.workbench-menu-collapse {
    animation: workbench-menu-collapse 0.4s forwards;
}

.export-button {
    width: 100%;
    // background-color: rgb(24, 32, 42);
    // color: #ecf0f1;
    // border: 1px solid #34495e;
    padding: 0.75rem;
    text-align: left;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.workbench-slider {
    margin: 0.5rem 0 1rem 0;
    width: 100%;
}

// .workbench-slider .thaw-slider__rail {
//     background-color: #34495e !important;
//     height: 4px !important;
// }

// .workbench-slider .thaw-slider__thumb {
//     background-color: #ecf0f1;
//     border: 3px solid #34495e;
//     border-radius: 50%;
// }

.workbench-checkbox {
    margin: 0.5rem 0 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    // color: #bdc3c7;
    font-weight: 500;
}

// .workbench-checkbox .thaw-checkbox__input {
//     width: 18px;
//     height: 18px;
//     background-color: #34495e;
//     border: 1px solid #34495e;
//     border-radius: 50%;
//     cursor: pointer;
// }
