.zoom-slider {
    width: 28px;
    cursor: pointer;
    position: absolute;
    right: 23%;
    bottom: 2%;
    z-index: 2;
    transition: right 0.4s ease;
}

.zoom-slider .thaw-config-provider{
    background: none;
}

.zoom-slider-collapsed {
    right: 1%;
}

@keyframes zoom-slider-expand {
    0% {
        right: 1%;
    }
    100% {
        right: 23%;
    }
}

@keyframes zoom-slider-collapse {
    0% {
        right: 23%;
    }
    100% {
        right: 1%;
    }
}

.zoom-slider-expand {
    animation: zoom-slider-expand 0.5s forwards;
}

.zoom-slider-collapse {
    animation: zoom-slider-collapse 0.5s forwards;
}

.zoom-slider .thaw-slider__thumb {
    background-color: #34495e;
    border: 2px solid #ecf0f1;
}
