# This config uses (unstable) features to improve compile times.
#
# "-fuse-ld=mold"
# One of the slowest aspects of compiling large Rust programs is the linking time. This file configures Mold as
# an alternate linker that significantly improves linking time.
# https://github.com/rui314/mold
#
# "-Zshare-generics=y"
# Unstable. Make the current crate share its generic instantiations
# Note that you may have some issues with this flag on Windows. If compiling fails due to the 65k symbol limit,
# you may have to disable this setting. For more information and possible solutions to this error, see
# <https://github.com/bevyengine/bevy/issues/1110>.
#
# "-Zthreads=0"
# Unstable. Enables rustc's parallel frontend, which improves performance when parsing, type checking, borrow
# checking, and more. We currently set `threads=0`, which defaults to the amount of cores in your CPU.
###########################
# Features improving runtime performance.
#
# "-Clinker-plugin-lto"
# "-flto"
# Allows for deferring the LTO optimization to the actual linking step, which in turn allows for performing
# interprocedural optimizations across programming language boundaries if all the object files being linked
# were created by LLVM based toolchains. The prime example here would be linking Rust code together with
# Clang-compiled C/C++ code. Note that the Rust code has to be compiled with -C linker-plugin-lto and the
# C/C++ code with -flto or -flto=thin so that object files are emitted as LLVM bitcode.
#
# "+atomics"
# Enables thread synchronization primitives in the WebAssembly instruction set.
# This is one of the required steps to allow multi-threading in WebAssembly.
#
# "+simd128"
# Enables simd128 in the WebAssembly instruction set.
# Increases performance for work benefitting from SIMD.
###########################
# Other features used.
#
# "+crt-static"
# Enables a statically linked runtime. Useful for running in e.g. "stratch" Docker containers.
#
# "-Zpre-link-args"
# https://users.rust-lang.org/t/why-isnt-zpre-link-args-stabilized-yet/130162
# https://github.com/rust-lang/rust/issues/57837

# Workaround for rustflags not being cumulative
# https://github.com/rust-lang/cargo/issues/5376#issuecomment-2163350032
[target.'cfg(all())']
    rustflags=["-Zshare-generics=y", "-Zthreads=0"]

# Docker
[target.x86_64-unknown-linux-musl]
    linker="clang"
    rustflags=[
        "-Ctarget-feature=+crt-static",
        "-Clinker-plugin-lto",
        "-Clink-arg=-fuse-ld=mold",
        "-Clink-arg=-flto",
        # "-Zpre-link-args=/usr/lib/libmimalloc.so",
    ]
    # TODO: Investigate performance influence of target-features:
    # - https://web.archive.org/web/20210208132927/http://assemblyrequired.crashworks.org/timing-square-root/
    # - https://doc.rust-lang.org/rustc/codegen-options/index.html?highlight=target-feature#target-feature
    # TODO: Investigate Profile-guided optimization:
    # - https://doc.rust-lang.org/rustc/profile-guided-optimization.html
    # TODO: Investigate implementing performance reports similar to CodSpeed:
    # - [Example] https://github.com/tobixdev/rdf-fusion/pull/166
    # - https://codspeed.io/
    # TODO: Use Criterion for smaller benchmarks, e.g. test a datastructure, function etc.
    # - https://docs.rs/criterion/latest/criterion/

# Local dev server
[target.x86_64-unknown-linux-gnu]
    linker="clang"
    rustflags=["-Clink-arg=-fuse-ld=mold"]

# Frontend of program
[target.wasm32-unknown-unknown]
    rustflags=[
        "-Clink-arg=--max-memory=4294967296",
        "-Ctarget-feature=+atomics",
        "-Ctarget-feature=+simd128",
        '--cfg',
        'getrandom_backend="wasm_js"',
    ]

[unstable]
    # We need to build the standard library from source to support the "wasm32-unknown-unknown" target.
    build-std=["alloc", "core", "panic_abort", "std"]
